@import url(../lib/font/fontsselectezy/stylesheet.css);
@import url(../lib/font/Architects_Daughter/ArchitectsDaughter.css);
@import url(../lib/font/Quicksand/Quicksand.css);
@import url(../lib/font/Open_Sans/OpenSans.css);
@import url(../lib/font/Lato/Lato.css);

body {
    background: #fff;
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal h4 {
    font-size: 1.3em;
}

.reveal p, .reveal li {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.2;
    letter-spacing: -0.08em;
}

.reveal .left {
    text-align: left;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal section em {
    color: #0074C1;
    font-style: normal;
}

.reveal section strong {
    color: #FFA700;
    font-weight: normal;
}

.reveal ul li {
    list-style-type: none;
}
.reveal ul li:before {
    display: inline-block;
    content: "\2013";
    position: relative;
    margin-left: -20px;
    left: -10px;
    width: 20px;
}

.reveal ul.small {
    font-size: 70%;
}

.reveal .backdrop {
    display: inline-block;
    padding: 0 3px;
    margin: 0 -3px;
    background-color: rgba(255, 255, 255, .8);
    /*box-shadow: 3px 0 0 rgba(255, 245, 0, .5), -3px 0 0 rgba(255, 245, 0, .5);*/
    border-radius: 2px;
    line-height: 1.2;
}

.button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 8px 15px;
    background: #69f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.reveal .cols {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.reveal .col {
    flex: 1.2;
    margin: 0 10px;
}
.reveal .col + .col {
    flex: .8;
}

.reveal .col pre {
    width: 100%;
    overflow: auto;
}
.reveal .col pre,
.reveal .col pre code {
    height: 350px;
}

.reveal .col.output pre {
    padding: 0 10px;
    background: rgba(248, 248, 248, .7);
}

/**
 * TS superset venn diagram
 */

.reveal .venn-diagram {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
.reveal .venn-diagram .ts {
    background-color: #0074c1;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.14), 0 2px 4px rgba(0,0,0,0.23);
}
.reveal .venn-diagram .ts:after {
    content: "TS";
    color: #fff;
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 8px;
}
.reveal .venn-diagram .es2015 {
    background-color: orange;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.14), 0 2px 4px rgba(0,0,0,0.23);
}
.reveal .venn-diagram .es2015:after {
    content: "ES2015";
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    bottom: 14%;
    right: 5%;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
.reveal .venn-diagram .js {
    background-color: yellow;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.14), 0 2px 4px rgba(0,0,0,0.23);
}
.reveal .venn-diagram .js:after {
    content: "JS";
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 20%;
}

/**
 * Photo credits
 */

.reveal .photo-credits {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: #999;
    font-weight: bold;
    font-size: 16px;
    z-index: 99;
    display: none;
}
.show-photo-credits .photo-credits {
    display: block;
}
.reveal .photo-credits a {
    color: #999;
}

/**
 * Quote marks around "quotes"
 */

.reveal blockquote {
    position: relative;
    padding-left: 65px;
    text-align: left;
    box-shadow: none;
}

.reveal blockquote:before,
.reveal blockquote:after {
    font-family: serif;
    font-size: 300%;
    line-height: 0.1em;
    color: rgba(150, 150, 150, .5);
}

.reveal blockquote:before {
    content: '\201C';
    margin-left: -70px;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}

.reveal blockquote:after {
    content: '\201D';
    margin-left: 0;
    vertical-align: -0.6em;
}

.reveal blockquote cite {
    position: absolute;
    left: 65px;
    bottom: 0;
    margin-bottom: -2.2em;
}

.reveal blockquote cite:before {
    content: '-- ';
}

/**
 * Override some code highlight styles
 */
.reveal pre {
    width: 1000px;
    border-radius: 3px;
    box-shadow: none;
    border: 2px solid #f0f0f0;
}
.reveal pre code {
    padding: 0 10px;
    max-height: 600px;
    border-radius: 3px;
    font-size: 20px !important;
    line-height: 24px !important;
    font-family: Consolas, monospace !important;
    color: #333;
}
.hljs {
    background: rgba(248, 248, 248, .7) !important;
}

/**
 * Code with marks highlighted
 */
.code mark {
    display: inline-block;
    padding: 0 3px;
    margin: 0 -3px;
    background-color: rgba(255, 245, 0, .4);
    box-shadow: 3px 0 0 rgba(255, 245, 0, .4), -3px 0 0 rgba(255, 245, 0, .4);
    border-radius: 6px;
    line-height: 1.2;
    color: #333;
}

/**
 * Callout arrows & highlights
 */
.reveal .callout {
    position: absolute;
    display: inline-block;
    font-size: 32px;
    color: rgba(240, 40, 60, .8);
    font-family: 'Architects Daughter', cursive;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 2px #fff, 0 0 2px #fff;
    line-height: 1;
}
.reveal .callout.position-top .callout-text {
    margin-left: 30px;
    margin-bottom: -5px;
}
.reveal .callout.position-topright .callout-text {
    margin-left: 15px;
}
.reveal .callout.position-left .callout-text {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.reveal .callout.position-right .callout-text {
    margin-left: -19px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.reveal .callout.position-bottom .callout-text {
    margin-left: 50px;
    margin-top: -10px;
}
.reveal .callout.position-bottomleft .callout-text {
    margin-top: 20px;
    margin-right: -25px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
.reveal .callout .callout-arrow,
.reveal .callout .callout-circle {
    font-family: 'fontsselectezymedium';
    font-size: 150px;
    line-height: .3;
    text-align: left;
}
.reveal .callout.position-left .callout-arrow,
.reveal .callout.position-right .callout-arrow,
.reveal .callout.position-bottomleft .callout-arrow {
    display: inline-block;
    vertical-align: middle;
}
.reveal .callout.position-bottomleft .callout-arrow {
    margin-bottom: 40px;
}
.reveal .callout.position-top .callout-arrow:after {
    content: 'H';
}
.reveal .callout.position-topright .callout-arrow:after {
    content: 'I';
}
.reveal .callout.position-left .callout-arrow:after {
    content: 'D';
}
.reveal .callout.position-right .callout-arrow:after {
    content: 'E';
}
.reveal .callout.position-bottom .callout-arrow:after {
    content: 'Y';
}
.reveal .callout.position-bottomleft .callout-arrow:after {
    content: 'G';
}
.reveal .callout .callout-circle {
    font-size: 250px;
}
.reveal .callout .callout-circle:after {
    content: 'd';
}
.reveal .callout.position-circle-top .callout-text {
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: 40px;
}
